<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Baza produktów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">
    <h1>Wynik wyszukiwania dla: <span th:text="${keywords}"></span></h1>
    <div class="row">
        <div class="col"><p>Wyszukano produktów: <span th:text="${products.totalElements}"></span></p></div>
        <div class="col">
            <form th:action="@{/search}">
                <input type="text" name="keywords" class="form-control form-control-solid" placeholder="Szukaj..." id="generalSearch">
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>ID</td>
                <td>EAN</td>
                <td>ISBN</td>
                <td>Title</td>
                <td>Status</td>
                <td>Wydawnictwo</td>
                <td>Typ</td>
                <td>Cena</td>
                <td>Vat</td>
                <td>Rabat %</td>
                <td>Cena hurtowa</td>
                <td>Cena hurtowa brutto</td>
                <td>Stan</td>
            </tr>
            <tr th:each="product : ${products.content}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.ean}"></td>
                <td th:text="${product.isbn}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.status}"></td>
                <td th:text="${product.publisher}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.vat}"></td>
                <td th:text="${product?.LatestOffer?.discountPercent} ?: '0'"></td>
                <td th:text="${product?.LatestOffer?.wholesaleNetPrice} ?: '0'"></td>
                <td th:text="${product?.LatestOffer?.wholesaleGrossPrice} ?: '0'"></td>
                <td th:text="${product?.LatestOffer?.stock} ?: '0'"></td>
            </tr>
        </table>
    </div>

    <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/search(keywords=${keywords}, pageNumber=${currentPage - 1}, size=${pageSize})}">Poprzednia</a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                class="page-item"
                th:classappend="${i} == ${currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/admin/search(keywords=${keywords}, pageNumber=${i}, size=${pageSize})}"
                   th:text="${i + 1}">1</a>

            </li>

            <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/search(keywords=${keywords}, pageNumber=${currentPage + 1}, size=${pageSize})}">Następna</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>